/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  background: var(--light-grayish-blue);
  padding: 20px;
}

/* Card styles */

.card {
  padding: 20px 37px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.card .name {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.card-name {
  padding-left: 15px;
}

.card img {
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 100%, 0.2);
  width: 40px;
}

.card-patrick img {
  border: 3px solid hsla(263, 55%, 52%, 0.5);
}

.card-daniel {
  color: var(--white);
  background-color: var(--moderate-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0%;
}

.card-jonathan {
  color: var(--white);
  background: var(--very-dark-grayish-blue);
}

.card-jeanette,
.card-kira {
  color: var(--very-dark-grayish-blue);
  background: var(--white);
}

.card-patrick {
  color: var(--white);
  background: var(--very-dark-blackish-blue);
}

.card-daniel .status,
.card-jonathan .status,
.card-patrick, .status {
  color: hsla(0, 0%, 100%, 0.5);
}

.card-daniel .quotation,
.card-jonathan .quotation,
.card-patrick .quotation {
  color: hsla(0, 0%, 100%, 0.3);
}

.card-patrick .name,
.card-patrick h2 {
  color: var(--white);
}

.card-jeanette .status,
.card-kira .status {
  color: hsla(217, 19%, 35%, 0.5);
}

.card-jeanette .quotation,
.card-kira .quotation {
  color: hsla(217, 19%, 35%, 0.7);
}

/* Desktop styles */




/* Attribution */
.attribution { 
  font-size: 11px; 
  text-align: center;
  color: var(--very-dark-grayish-blue); 
}
.attribution a { 
  color: var(--moderate-violet); 
}